.item-view {
  &_images {
    text-align: center;
    img {
      max-height: 600px;
    }
  }
  &_detail {
    padding: 2em 2em 2em 0;
    text-align: left;

    p {
      white-space: pre;
    }

    .buy {
      float: right;
      padding: 0.875rem 4rem
    }

    .dropdown-toggle {
      white-space: normal;
    }
  }
}